<%= form_for @changeset, layouts_path(@conn, :update, @document_layout.id), [], fn(form) -> %>
  <%= render "_form.html", form: form %>
  <div class="submit">
    <button><%= gettext("Update Layout") %></button>
  <div>
<% end %>
