<div class="input">
  <%= text_input @form, :name, placeholder: "Layout Name" %>
  <%= error_tag @form, :name %>
</div>

<div class="input">
  <%= textarea @form, :body, placeholder: "Layout Body" %>
  <%= error_tag @form, :body %>
</div>
